<section class="brands container" aria-label="Marcas con las que trabajamos">
	<div class="brands__image">
		<img
			src="microsoft-power-automate.svg"
			alt="Microsoft Power Automate logo"
		/>
	</div>
	<div class="brands__image">
		<img src="power-bi.svg" alt="Power BI logo" />
	</div>
	<div class="brands__image">
		<img src="google-workspace.svg" alt="Google Workspace logo" />
	</div>
	<div class="brands__image">
		<img src="tableau.svg" alt="Tableau logo" />
	</div>
	<div class="brands__image">
		<img src="looker.svg" alt="Looker logo" />
	</div>
</section>

<style lang="scss">
	.brands {
		display: flex;
		align-items: center;
		gap: 10px;
		height: 82px;
		justify-content: space-between;
		padding: 10px;
		margin-top: 50px;

		&__image {
			img {
				width: 100%;
			}
		}
	}
</style>
