<footer class="footer container">
	<p class="footer__description">
		Copyright @ 2024 ASFIT. All rights reserved.
	</p>
</footer>

<style lang="scss">
	.footer {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-top: 100px;
		padding: 0 20px 100px 20px;

		&__description {
			font-weight: bold;
			text-align: center;
		}
	}
</style>
