<script>
	const hamburger = document.querySelector(".hamburger__button");
	const nav = document.querySelector(".header__nav");
	const visibleClass = "header__nav--visible";

	hamburger?.addEventListener("click", () => {
		const isNavVisible = nav?.classList.contains("header__nav--visible");

		addOrRemoveVisibleClass(!isNavVisible);
	});

	showOrHideNav();

	window.addEventListener("resize", () => {
		showOrHideNav();
	});

	function showOrHideNav(): void {
		const isMediumDevice = window.matchMedia("(min-width: 768px)").matches;

		addOrRemoveVisibleClass(isMediumDevice);
	}

	function addOrRemoveVisibleClass(condition: boolean): void {
		if (condition) {
			nav?.classList.add(visibleClass);
		} else {
			nav?.classList.remove(visibleClass);
		}
	}
</script>

<header class="header container">
	<div class="header__logo">
		<img src="logo.svg" alt="Logo" />
	</div>

	<nav class="header__nav">
		<ul class="header__links">
			<li>
				<a aria-label="Navegar a inicio" class="header__link" href="#">inicio</a
				>
			</li>
			<li>
				<a
					aria-label="Navegar a servicios"
					class="header__link"
					href="#services">servicios</a
				>
			</li>
			<li>
				<a aria-label="Navegar a acerca" class="header__link" href="#about"
					>acerca</a
				>
			</li>
			<li>
				<a
					aria-label="Navegar a contactanos"
					class="header__link"
					href="#contact">contactanos</a
				>
			</li>
		</ul>
	</nav>

	<class class="hamburger">
		<button class="hamburger__button">
			<img src="hamburger-menu.svg" alt="Logo de menú de hamburguesa" />
		</button>
	</class>
</header>

<style lang="scss">
	.header {
		align-items: center;
		background-color: #000;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		height: fit-content;
		justify-content: space-between;
		padding: 20px 0;
		position: sticky;
		top: 0;

		@media (min-width: 768px) {
			height: 80px;
		}

		&__logo {
			width: 50%;
			height: 40px;

			@media (min-width: 768px) {
				width: unset;
			}

			img {
				height: 100%;
			}
		}

		.hamburger {
			width: 50%;
			display: flex;
			justify-content: flex-end;

			@media (min-width: 768px) {
				width: unset;
			}

			&__button {
				background-color: transparent;
				border: none;
				order: 2;
				padding: 0;
				width: 28px;

				&:hover {
					cursor: pointer;
				}

				img {
					width: 100%;
				}

				@media (min-width: 768px) {
					display: none;
				}
			}
		}

		&__nav {
			display: none;
			order: 3;
			width: 100%;

			@media (min-width: 768px) {
				width: auto;
			}

			&--visible {
				display: block;
				padding-top: 20px;
				height: 0;
				opacity: 0;
				animation: expand 0.5s ease-out forwards;
			}

			@keyframes expand {
				0% {
					height: 0;
					opacity: 0;
				}
				100% {
					height: 185px;
					opacity: 1;
				}
			}
		}

		&__links {
			display: flex;
			list-style: none;
			flex-direction: column;
			gap: 25px;

			@media (min-width: 768px) {
				flex-direction: row;
				gap: 45px;
			}
		}

		&__link {
			text-decoration: none;
			color: inherit;
			text-transform: uppercase;
			font-size: 18px;
			display: block;
			text-align: center;

			&:hover,
			&:focus {
				background: linear-gradient(to right, #2b92d5, #3fd9d7);
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
			}
		}
	}
</style>
