<header class="header container">
	<div class="header__logo">
		<img src="logo.svg" alt="Logo" />
	</div>

	<nav class="header__nav">
		<ul class="header__links">
			<li>
				<a
					aria-label="Navegar a inicio"
					class="header__link header__link--active"
					href="#">inicio</a
				>
			</li>
			<li>
				<a
					aria-label="Navegar a servicios"
					class="header__link"
					href="#services">servicios</a
				>
			</li>
			<li>
				<a aria-label="Navegar a acerca" class="header__link" href="#about"
					>acerca</a
				>
			</li>
			<li>
				<a
					aria-label="Navegar a contactanos"
					class="header__link"
					href="#contact">contactanos</a
				>
			</li>
		</ul>
	</nav>
</header>

<style lang="scss">
	.header {
		display: flex;
		justify-content: space-between;
		padding: 20px 0;
		gap: 30px;
		height: 80px;
		align-items: center;

		&__logo {
			height: 100%;

			img {
				max-height: 100%;
			}
		}

		&__links {
			display: flex;
			list-style: none;
			gap: 45px;
		}

		&__link {
			text-decoration: none;
			color: inherit;
			text-transform: uppercase;
			font-size: 18px;

			&--active {
				background: linear-gradient(to right, #2b92d5, #3fd9d7);
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
			}
		}
	}
</style>
