<section
	class="tech-innovation container"
	aria-label="Innovacion Financiera y Tecnologica"
>
	<p class="tech-innovation__information">
		En un mercado competitivo, optimizar procesos financieros y adoptar
		tecnología de punta es clave para reducir costos y mejorar la eficiencia.
		ASFIT es el aliado perfecto para mantener tu empresa innovadora y lista para
		el éxito.
	</p>
	<h2 class="tech-innovation__title">Innovación Financiera y Tecnológica</h2>
</section>

<style lang="scss">
	.tech-innovation {
		margin-top: 100px;
		display: flex;
		gap: 90px;

		&__information {
			font-size: 18px;
			line-height: 28px;
			flex: 1;
		}

		&__title {
			flex: 1;
			font-size: 48px;
			background: linear-gradient(to right, #2b92d5, #3fd9d7);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}
	}
</style>
