<section id="services" class="what-we-offer container">
	<article class="heading-card">
		<h3 class="heading-card__title">¿Que ofrecemos?</h3>
		<p class="heading-card__information">
			En ASFIT, personalizamos nuestras soluciones financieras y tecnológicas
			para adaptarnos a las necesidades específicas de tu empresa, maximizando
			la eficiencia y el crecimiento.
		</p>
	</article>
	<article class="offer-card">
		<div class="offer-card__image">
			<img src="analysis.png" alt="Analisis de metricas" />
		</div>
		<h4 class="offer-card__title">Análisis y Generación de Métricas</h4>
		<p class="offer-card__information">
			Dashboard Personalizados, KPI’s Financieros, Análisis Predictivo,
			Segmentación de Clientes, Evaluación de Desempeño, Reporte Automatizado de
			KPI’s, Benchmarking, y más.
		</p>
	</article>
	<article class="offer-card">
		<div class="offer-card__image">
			<img src="automation.png" alt="Optimizacion de procesos" />
		</div>
		<h4 class="offer-card__title">Optimización de Procesos</h4>
		<p class="offer-card__information">
			Automatización de Tareas , Reingeniería de Procesos, Integración de
			Sistemas, Gestión del Cambio, Optimización del Ciclo de Producción, entre
			otros.
		</p>
	</article>
	<article class="offer-card">
		<div class="offer-card__image">
			<img src="opportunities.png" alt="Oportunidades tecnologicas" />
		</div>
		<h4 class="offer-card__title">Oportunidades Tecnológicas</h4>
		<p class="offer-card__information">
			Identificación de Nuevas Tecnologías, Soluciones de Big Data, Inteligencia
			Artificial, Optimización de Infraestructura IT, Automatización de
			Procesos, entre otros.
		</p>
	</article>
	<article class="offer-card">
		<div class="offer-card__image">
			<img src="upgrades.png" alt="Mejora continua de operaciones" />
		</div>
		<h4 class="offer-card__title">Mejora Continua de Operaciones</h4>
		<p class="offer-card__information">
			Revisión y Optimización de Procesos y Presupuestos, Auditorías de
			Finanzas/Tecnología, Programas de Capacitación Continua, Optimización de
			Flujos de Trabajo, Análisis de Costos y Rentabilidad, entre otros.
		</p>
	</article>
</section>

<style lang="scss">
	.what-we-offer {
		margin-top: 80px;
		display: grid;
		gap: 18px;

		@media (min-width: 480px) {
			grid-template-columns: repeat(2, 1fr);
		}

		@media (min-width: 768px) {
			grid-template-columns: repeat(3, 1fr);
		}

		.heading-card {
			background-color: rgba($color: #a4a4a4, $alpha: 0.1);
			border-radius: 20px;
			display: flex;
			flex-direction: column;
			gap: 30px;
			justify-content: center;
			padding: 20px;

			@media (min-width: 480px) {
				padding: 50px;
				grid-column-start: 1;
				grid-column-end: 3;
			}

			&__title {
				font-size: 30px;
				line-height: 36px;
				text-align: left;
				background: linear-gradient(to right, #2b92d5, #3fd9d7);
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;

				@media (min-width: 480px) {
					font-size: 36px;
					line-height: 40px;
				}

				@media (min-width: 768px) {
					font-size: 48px;
					line-height: 1;
				}
			}

			&__information {
				font-size: 16px;
				line-height: 24px;

				@media (min-width: 480px) {
					font-size: 18px;
					line-height: 28px;
				}
			}
		}

		.offer-card {
			background-color: rgba($color: #a4a4a4, $alpha: 0.1);
			border-radius: 20px;
			display: flex;
			flex-direction: column;
			gap: 10px;

			&__image {
				img {
					width: 100%;
					object-fit: cover;
				}
			}

			&__title {
				font-size: 18px;
				font-weight: bold;
				line-height: 28px;
				padding: 0 15px;
			}

			&__information {
				font-size: 14px;
				line-height: 20px;
				padding: 0 15px 15px 15px;
			}
		}
	}
</style>
