<section class="why-contract-us container" aria-label="¿Por que contratarnos?">
	<h2 class="why-contract-us__title">¿Por que contratarnos?</h2>
	<p class="why-contract-us__information">
		En ASFIT, entendemos que cada empresa es única. Nuestro enfoque
		personalizado garantiza que las soluciones propuestas no solo sean eficaces,
		sino también perfectamente alineadas con tus objetivos empresariales.
		Además, ayudamos a identificar las áreas críticas de mejora o aquellas que
		generan un efecto de cuello de botella, asegurando que tu empresa supere los
		desafíos más difíciles. Al asociarte con nosotros, obtendrás un socio
		comprometido en transformar la tecnología y los datos en un motor de
		crecimiento sostenible para tu negocio.
	</p>
</section>

<style lang="scss">
	.why-contract-us {
		margin-top: 80px;
		display: flex;
		flex-direction: column;
		gap: 30px;

		&__information {
			font-size: 18px;
			line-height: 28px;
			flex: 1;
			text-align: center;
		}

		&__title {
			text-align: center;
			flex: 1;
			font-size: 48px;
			background: linear-gradient(to right, #2b92d5, #3fd9d7);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}
	}
</style>
