---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
			rel="stylesheet"
		/>
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		font-family: "Montserrat", sans-serif;
	}

	html {
		scroll-behavior: smooth;
	}

	body {
		background-color: #000;
		color: rgba(255, 255, 255, 0.8);
	}

	.container {
		width: 90%;
		max-width: 1200px;
		margin: 0 auto;
	}

	.enter-right {
		animation: enterRight 1s ease-out forwards;
	}

	.enter-bottom {
		animation: enterBottom 1s ease-out forwards;
	}

	.enter-left {
		animation: enterLeft 1s ease-out forwards;
	}

	/* animations */

	@keyframes enterRight {
		0% {
			opacity: 0;
			transform: translateX(20px);
		}

		80% {
			transform: translateX(-5px);
		}

		100% {
			opacity: 1;
			transform: translateX(0);
		}
	}

	@keyframes enterBottom {
		0% {
			opacity: 0;
			transform: translateY(20px);
		}

		80% {
			transform: translateY(-5px);
		}

		100% {
			opacity: 1;
			transform: translateY(0);
		}
	}

	@keyframes enterBottom {
		0% {
			opacity: 0;
			transform: translateX(-20px);
		}

		80% {
			transform: translateX(5px);
		}

		100% {
			opacity: 1;
			transform: translateX(0);
		}
	}
	@keyframes enterBottom {
		0% {
			opacity: 0;
			transform: translateY(20px);
		}

		80% {
			transform: translateY(-5px);
		}

		100% {
			opacity: 1;
			transform: translateX(0);
		}
	}
</style>
